/* Darstellung in App-Größe fürs Smartphone */

body {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    color: white;
    background: radial-gradient(circle, rgb(154, 212, 149), rgb(85, 156, 86));
}

/* Überschriften und Texte */

.starttext {
    top: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
    position: relative;
}

h3 {
    font-size: 23px;
}

/* Buttonstyles */

#PopupButton {
    background-color: hsl(85, 23%, 38%);
    top: 30px;
    border: none;
    border-radius: 4px;
    color: white;
    size: 30px;
    padding: 4px 5px;
    position: relative;
    text-align: center;
    font-size: 15px;
    margin-top: 10px;
    transition: 0.3s;
    width: 20%;
    text-decoration: none;
    cursor: pointer;
    font-weight: 600;
}

#PopupButton:hover {
    background-color: hsl(84, 45%, 35%);
}

#submitbutton {
    background-color: hsl(25, 55%, 57%);
    border: none;
    border-radius: 8px;
    color: white;
    size: 60px;
    padding: 4px 5px;
    text-align: center;
    font-size: 12px;
    margin-top: 10px;
    text-decoration: none;
    cursor: pointer;
    font-weight: 600;
}

/* Die Div Boxen für die Aufgabensortierung */

.divstyle {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.task       {  background-color: #54935d;
border-radius: 5px;
padding: 10px;
margin-bottom: 10px;}
